html,
button {
  font-family: sans-serif;
}
.body {
  color: wheat;
  text-align: center;
  min-height: 50vh;

  /* height: 22rem; */
  width: 20rem;
  margin: 10px 0;
  padding: 3rem;
}
.logo {
  margin-top: 1rem;
  font-size: 4rem;
  font-weight: normal;
}
.sample {
  padding: 20px;
  font-size: 2rem;
  background: inherit;
  color: inherit;
  font-weight: 700;
}
#button {
  margin-top: 10px;
  background: wheat;
  color: rgb(129, 128, 128);
  width: 10rem;
  height: 4rem;
  font-size: 20px;
  outline: none;
  border: 5px solid wheat;
  border-radius: 5px;
  font-weight: 800;
}
#button:active {
  transform: scale(0.95);
}
.jkbody {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: linear-gradient(to right top, dodgerblue, lightpink, dodgerblue);
}
.jkdiv {
  background-color: pink;
  padding: 3rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  text-align: center;
  color: rgb(94, 133, 216);
}
.jkheading {
  font-weight: 700;
  letter-spacing: 1px;
}
.joke {
  font-size: 20px;
  font-weight: 800;
  padding-top: 1rem;
}
.jkbtn {
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  padding: 7px;
  background-color: lightpink;
  border: 5px solid rgb(252, 169, 183);
  color: rgb(94, 133, 216);
}
.jkbtn:hover {
  background-color: rgb(252, 169, 183);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
